.git/
.github/
.kamal/
.claude/
cloudflare/

log/*
!log/.keep
tmp/*
!tmp/.keep
storage/*
!storage/.keep

node_modules/
public/assets
app/assets/builds/*
!app/assets/builds/.keep

.env*
!.env.example
config/master.key

*.sql
*.dump
*.postman_collection.json

Dockerfile
.dockerignore
README.md
